[user]
	email = folfy@users.noreply.github.com
	name = Folfy

[credential]
	helper = store

[push]
	default = simple
	recurseSubmodules = on-demand
	followTags = true

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[core]
	excludefile = ~/.global.gitignore
	# honor executable bit
	filemode = true
	autocrlf = false

[include]
	path = ~/.gitconfig.work

[alias]
	lg = log --color --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches --tags --remotes

	lg1 = "!git --no-pager lg -n 10"
	lg2 = "!git --no-pager lg -n 20"

	ds = diff --staged

	; show version in vim
	sv = "!PAGER='vim -c \"setlocal buftype=nofile bufhidden=hide noswapfile\" -' git -c color.ui=false show"

; [diff]
; 	tool = vfugitive

; [difftool "vfugitive"]
; 	cmd = myvim 'nvim.appimage' -c 'Gdiffsplit' "$LOCAL"
